<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello <span th:text="${#authentication.name}">thymeleaf</span>!</h1>
        <p>Your are: 
            <ul>
                <li th:each="role : ${#authentication.authorities}" th:text="${role.authority}"></li>
            </ul>
        </p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>